@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Sacramento&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Inter', sans-serif;
}

.custom-font-1{
  font-family: 'Philosopher', 'Helvetica', serif;
}

.custom-font-2{
  font-family: 'Inter', 'Verdana',sans-serif;
}

.custom-font-3{
  font-family: 'Turret', 'Verdana',sans-serif;
}

.custom-font-4{
  font-family: 'Sacramento', 'Verdana',sans-serif;
}

.tech-icon{
  font-size: 50px;
}

.tech-icon-svg{
    height:50px;
    width:50px;
}